.bgdao{
      background-color:#000000 ;
    width: 100%;
    min-height: 100vh;
    position: relative;
}
.heding_txt{
    text-align: center;
    color: rgb(247, 247, 247);

}

.heading_caption h3{
    color: #ffff;
}
.caption_box p{
    color: #ffff;
}
.dao_img{
    margin: 20px 0px;
}
.dao_img img{
    width:400px;
}


@media screen and (max-width:600px){
    .heading_caption h3{
        color: #ffff;
        font-size: 16px;
    }
    .caption_box p{
        color: #ffff;
        font-size: 12px;
    }
    .dao_img img{
        width:300px;
    }
    
}
